<mat-toolbar color="primary" style="position: fixed; background-color: #f03f86;box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);">
  <span class="title"><i class="fas fa-robot"></i>AI Character Voice</span>
  <span class="example-spacer"></span>
  <button mat-raised-button (click)="openAddEditEmpForm()">
    Upload New CV
  </button>
</mat-toolbar>



<div class="main-body">
  <div class="card-container">
    <div class="card" *ngFor="let row of dataSource.data">
      <div class="cv-info">
        <div class="image-container">
          <img [src]="row.img" alt="Image Loading...">
        </div>
        <div class="details">
          <h2>{{row.name}}</h2>
          <p><strong>From:</strong> {{row.from}}</p>
          <p><strong>Gender:</strong> {{row.gender}}</p>
          <p><strong>Age:</strong> {{row.age}}</p>
          <p><strong>Publish Date:</strong> {{row.dob | date}}</p>
          <p><strong>Description:</strong> {{row.intro}}</p>
          <audio controls>
            <source [src]="row.audio" type="audio/mpeg">
            Your browser does not support the audio element.
          </audio>
          <a [href]="row.audio" download class="download-button" style="display: block;">Download</a>
          <!-- <div class="actions">
            <button mat-icon-button color="primary" (click)="openEditForm(row)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteEmployee(row.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <mat-paginator [pageSizeOptions]="[]" [length]="dataSource.paginator?.length"
(page)="dataSource.paginator ? dataSource.paginator.pageIndex = $event.pageIndex : null">
</mat-paginator> -->