<div mat-dialog-title>
    <h1>CV Form</h1>
</div>
<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content" >
        <div class="row">
            <mat-form-field appearance="outline" >
                <mat-label>name</mat-label>
                <input matInput type="text" placeholder="Ex. Mario" formControlName="name">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>From</mat-label>
                <input matInput type="from" placeholder="Ex. video game, cartoon..." formControlName="from">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Publish Date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dob">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-radio-group aria-label="Select an option" formControlName="gender">
                <mat-label><b>Gender</b></mat-label>
                <mat-radio-button value="male">Male</mat-radio-button>
                <mat-radio-button value="female">Female</mat-radio-button>
                <mat-radio-button value="others">Others</mat-radio-button>
            </mat-radio-group>
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Age</mat-label>
                <mat-select formControlName="age">
                    <mat-option *ngFor="let val of age" [value]="val">{{val}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <input matInput placeholder="introduce of this character" formControlName="intro">
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="primary" style="background-color: #f03f86;" type="submit">{{data ? 'Update': 'Save'}}</button>
    </div>
</form>